<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Title</title>
    <style>
        html, body {
            min-height: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            background-color: #F3EDDE;
        }

        /* navbar */
        .navbar {
            background-color: #DCD0B2;
            transition: transform 0.3s ease-in-out;
        }

        .navbar-hidden {
            transform: translateY(-100%);
        }

    </style>
</head>
<body>

</body>
</html>